.App {
  
  background-color: #4f5251;
  margin-top: -40px;
  height: 100vh;
  
}

.box-bar{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.left-arrow{
  background-color: red;
}

.left-arrow span{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  
}
.right-arrow{
  
  background-color: red;
}
.slider{
  position: relative;
  width: 100%;
}
.search-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  display: flex;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
